.linkWrap {
  max-width: 150px;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.linkWrap span {
  word-break: keep-all;
  text-overflow: ellipsis;
  color: var(--secondary);
}
