.card {
  border-radius: 8px;
}

.inner span,
.inner a {
  font-size: 16px;
}

.inner a {
  font-weight: 500;
}

.value {
  display: flex;
  align-items: center;
}

.value svg {
  margin-right: 5px;
}
