.compareCoins {
  display: flex;
  flex-wrap: wrap;
}

.compareCoin {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--white);
  border-radius: 16px;
}

.compareCoin img {
  width: 40px;
}

.title {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.title h4 {
  font-size: 18px;
  margin: 0;
}

.removeBtnWrap button,
.removeBtnWrap:hover button {
  background-color: transparent;
  border-color: transparent;
}

@media (max-width: 768px) {
  .compareCoin {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .compareCoin img {
    width: 34px;
  }

  .title h4,
  .title span {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .compareCoin img {
    width: 30px;
  }

  .title {
    padding-right: 10px;
  }

  .title h4 {
    font-size: 16px;
  }

  .title span {
    display: none;
  }
}
