.card {
  border-radius: 8px;
}

.listTitle {
  margin: 0;
  font-size: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;

  border-top: 1px solid var(--whiteSmoke);
}

