.wrap {
  margin-top: 20px;
}

.wrapAccord {
  // background-color: var(--white);
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.value {
  margin: 0;
  text-align: center;
  // color: var(--secondary);
  font-weight: 500;
}
