@import 'styles/variables';

.item {
  padding: 10px 0;
  cursor: pointer;

  p {
    margin: 0;
  }
}

.titleWrap {
  display: flex;
  align-items: center;

  .title {
    font-weight: 500;
  }

  .symbol {
    color: $secondary;
  }
}

.priceWrap {
  span {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .priceWrap {
    span {
      font-size: 13px;
    }
  }
}
