.item {
  padding: 12px 0;
  cursor: pointer;

  border-top: 1px solid var(--whiteSmoke);
}

.item p {
  margin: 0;
}

.titleWrap {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 500;
}

.symbol {
  color: var(--secondary)
}

.item:hover .title,
.item:hover .symbol {
  color: var(--clearBlue);
}