.card {
  border-radius: 16px;
}

.title {
  display: flex;
  align-items: flex-end;
}

.title h1 {
  font-size: 32px;
}

.title h1,
.title h3 {
  margin: 0 !important;
}

.tags span {
  margin-bottom: 2px;
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 26px;
    line-height: 1;
  }

  .title h3 {
    display: none;
  }


}