@import 'styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  box-shadow: $headerShadow;
}

.headerInner {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 15px 0;
}

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 6px;
}

@media (max-width: 1200px) {
  .divider {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .actions {
    margin-right: 10px;
  }
  .dividerActions {
    display: none !important;
  }
}
