@import 'styles/variables';

.chart {
  padding: 0 10px;
  background-color: $white;
  border-radius: 8px;
}

.title {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: $secondary;
  text-align: center;
}

@media (max-width: 576px) {
  .chart {
    padding: 0;
  }
}
