@import 'styles/variables';

.chart {
  padding: 0 10px;
  background-color: $white;
  border-radius: 8px;
}

.tooltip p {
  margin: 0;
  padding: 6px 0;
  font-size: 14px;
}

.tooltipData {
  color: $secondary;
}

@media (max-width: 576px) {
  .chart {
    padding: 0;
  }
}
