.chart {
  padding: 10px 20px;
  background-color: var(--white);
  border-radius: 8px;
}

.tooltip p {
  margin: 0;
  padding: 6px 0;
  font-size: 14px;
}

.tooltipData {
  color: var(--secondary);
}

.axisLabel {
  fill: var(--secondary);
}