.categoriesPage {
  background: var(--lightGray);
}

.sortWrap {
  position: relative
}

.sortInner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}

.sortTitle {
  margin: 0 20px 0 0;
  font-weight: 500;
  color: var(--secondary);
}