.coinsPage {
  background: var(--whiteSmoke);
}

.coinsPage h1 {
  margin: 0;
}

.filterWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.filterTitle {
  margin: 0 20px 0 0;
  font-weight: 500;
  color: var(--secondary);
}

.tableRow {
  cursor: pointer;
}

@media (max-width: 480px) {
  .coinsPage h1 {
    margin-bottom: 20px;
  }
}
