.compareGraphsPage {
  background: var(--gradient);
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.actions button {
  background-color: var(--sand);
  border-color: var(--sand);
}

.graphWrap {
  padding: 20px 0;
}

@media (max-width: 992px) {
  .actions {
    padding-bottom: 10px;
  }

  .graphWrap {
    padding: 10px 0;
  }

  .graphWrap h3 {
    font-size: 22px;
  }
}
