:root {
  /* colors */
  --primary: #23262F;
  --secondary: #777E91;
  --white: #ffffff;
  --clearBlue: #3772FF;
  --pastelBlue: #9bb9ff;
  --coralRed: #F43F3F;
  --mediumGreen: #18B04D;
  --lightGray: #E0e0e0;
  --cadetBlue: #B1B5C4;
  --sunshade: #FD9821;
  --balticSea: #23262F;
  --milkWhite: #FCFCFD;
  --cosmos: #fdd9d9;
  --sweetPink: #fa9f9f;
  --sand: #FEC27C;
  --whiteSmoke: #F4F5F6;

  /* gradients */
  --gradient: linear-gradient(176.57deg, #E6E8EC 45.07%, rgba(243, 245, 252, 0.15) 85.46%);

  /* shadows */
  --headerShadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  --cardShadow: 0 0 40px rgba(216, 216, 216, 0.8);
  --mainShadow: 0 4px 20px 0 rgba(122, 113, 122, 0.6);
}


/* media queries
  xxs: 360px;
  xs: 480px;
  sm: 576px;
  md: 768px;
  lg: 992px;
  xl: 1200px;
  xxl: 1600px; */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--primary);
  overflow-x: hidden;
}

/* 140px -> header and footer heights */
.page {
  min-height: calc(100vh - 140px);
  padding-bottom: 20px;
}

.page h1 {
  font-size: 34px;
}

.container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* Ant select */
.customSelect:hover {
  box-shadow: var(--headerShadow);
}

.customSelect .ant-select-selector {
  border-radius: 6px !important;
}

.customDropDowmMenu,
.customDropDowmMenuMulti {
  padding: 10px;
  border-radius: 6px;
}

.customDropDowmMenu .ant-select-item-option {
  color: var(--secondary);
}

.customDropDowmMenuMulti .ant-select-item-option {
  margin: 3px 0;
  color: var(--secondary);
}

.customDropDowmMenu .ant-select-item-option-active,
.customDropDowmMenuMulti .ant-select-item-option-active {
  background: var(--white);
  color: var(--clearBlue);
}

.customDropDowmMenu .ant-select-item-option-selected,
.customDropDowmMenuMulti .ant-select-item-option-selected {
  border-radius: 6px;
  color: var(--white);
  font-weight: 500;
  background-color: var(--clearBlue);
}

.customDropDowmMenuMulti .ant-select-item-option-selected {
  background-color: var(--pastelBlue);
}

/* Ant tag */
.ant-tag {
  border-radius: 4px;
}

/* Ant pagination */
.ant-list-pagination {
  margin: 10px 0;
}

.ant-pagination {
  margin-top: 0px !important;
}

.ant-pagination-item,
.ant-pagination-item-link {
  border-radius: 3px;
}

.ant-pagination-item:hover,
.ant-pagination-item-link:hover {
  border-color: var(--sand) !important;
  color: var(--sand) !important;
}

.ant-pagination-item:hover a {
  color: var(--sand)
}

.ant-pagination-item-active,
.ant-pagination-item-active:hover {
  border-color: transparent;
  background-color: var(--sand);
}

.ant-pagination-item-active a,
.ant-pagination-item-active:hover a {
  color: var(--white)
}

/* Ant table */
.ant-table {
  border-radius: 8px;
  overflow: hidden;
}

.ant-table-thead>tr>th {
  background-color: var(--sand);
  color: var(--white);
}

.ant-table th,
.ant-table td {
  padding: 10px !important;
}

/* Ant tabs */
.ant-tabs-nav::before {
  border-color: var(--pastelBlue) !important;
}

.ant-tabs {
  color: var(--secondary);
}

.ant-tabs-tab {
  font-size: 16px;
}

.ant-tabs-tab:hover {
  color: var(--pastelBlue);
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--pastelBlue) !important;
}

.ant-tabs-ink-bar {
  background-color: var(--pastelBlue);
}

/* Collapse */
.ant-collapse-borderless {
  background-color: transparent;
}

.ant-collapse-header-text {
  font-size: 16px;
  color: var(--secondary)
}

/* Spin */
.customSpin .ant-spin-blur {
  opacity: 1;
}

.customSpin .ant-spin-blur::after {
  opacity: 0;
}

.customSpin .ant-spin-text {
  padding-top: 16px !important;
  font-size: 18px;
}

/* Segmented */
.ant-segmented {
  border-radius: 6px;
  background-color: var(--milkWhite);
  padding: 0;
}

.ant-segmented:hover {
  background-color: var(--milkWhite) !important;
}

.ant-segmented-item {
  color: var(--secondary)
}

.ant-segmented-item-selected span {
  color: var(--pastelBlue)
}

@media (max-width: 992px) {
  .page h1 {
    font-size: 34px;
  }

}

@media (max-width: 576px) {
  .page h1 {
    font-size: 28px;
  }

}

@media (max-width: 480px) {
  .page h1 {
    font-size: 24px;
  }
}