// colors
$primary: #23262f;
$secondary: #777e91;
$white: #ffffff;
$clearBlue: #3772ff;
$pastelBlue: #9bb9ff;
$coralRed: #f43f3f;
$mediumGreen: #18b04d;
$lightGray: #e0e0e0;
$cadetBlue: #b1b5c4;
$sunshade: #fd9821;
$balticSea: #23262f;
$milkWhite: #fcfcfd;
$cosmos: #fdd9d9;
$sweetPink: #fa9f9f;
$sand: #fec27c;
$whiteSmoke: #f4f5f6;

$tag: #23262f;

// Font
$fontFamily: 'Poppins', sans-serif;

// gradients
$gradient: linear-gradient(
  176.57deg,
  #e6e8ec 45.07%,
  rgba(243, 245, 252, 0.15) 85.46%
);

// shadows
$headerShadow: 0 6px 30px rgba(0, 0, 0, 0.1);
$cardShadow: 0 0 20px rgba(216, 216, 216, 0.8);
$mainShadow: 0 4px 20px 0 rgba(122, 113, 122, 0.6);
