.burger {
  display: none;
}

.burger button {
  border-radius: 5px;
}


.burger svg {
  fill: var(--pastelBlue);
}

.menu {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  padding-right: 14px;
}

.link a {
  font-weight: 500;
  padding-left: 5px;
  color: var(--secondary);
}

.link:hover a,
.link:hover svg path {
  color: var(--primary);
  fill: var(--primary);
}

.link:global(.active) a,
.link:global(.active) svg path {
  color: var(--pastelBlue);
  fill: var(--pastelBlue);
}

@media (max-width: 992px) {
  .link {
    padding-right: 12px;
  }
}

@media (max-width: 768px) {
  .navigation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .burger {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 140%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    background-color: var(--milkWhite);
    box-shadow: var(--cardShadow);
    border-radius: 6px;
  }

  .menu:global(.open) {
    display: flex;
  }

  .link {
    width: 100%;
    min-width: 200px;
    padding: 10px 30px 10px 0;
    border-bottom: 1px solid var(--lightGray);
  }

  .link:last-child {
    border: none;
  }


}