@import 'styles/variables';

.menu {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  padding-right: 14px;
  transition: all 0.5s;
  cursor: pointer;

  span {
    font-weight: 500;
    padding-left: 5px;
    color: $secondary;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:global(.active) span,
  &:global(.active) svg path {
    color: $pastelBlue;
    fill: $pastelBlue;
  }
  
}

@media (max-width: 1200px) {
  .headerMenu {
    display: none;
  }

  .sidebarMenu {
    .menu {
      flex-direction: column;
      align-content: center;
    }

    .link {
      justify-content: center;
      width: 100%;
      padding: 15px;

      &:last-child {
        border: none;
      }

      &:hover {
        box-shadow: $cardShadow;
      }
    }
  }
}